pdf2image
PyMuPDF
opencv-python
numpy
torch
transformers
pillow
easyocr
requests
eventlet
mysql-connector-python
Flask
flask-cors
Pillow
ftfy
chardet
werkzeug
flask-socketio
pymysql
fpdf
numpy
# add excel
pandas 
openpyxl
