/* กำหนด style ให้กับ Card */
.dashboard-icon {
  width: 50px;
  height: auto;
  objectfit: cover;
  margin-left: 6px;
}

.custom-card-dashboard {
  width: 100%; /* กำหนดความกว้าง */
  background-color: #ffff; /* สีพื้นหลัง */
  border: 1px solid #dae3f8;
  border-radius: 10px; /* มุมโค้งมน */
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
  transition: transform 0.2s ease, background-color 0.2s ease; /* เพิ่ม transition */
}

/* เพิ่มเอฟเฟกต์เมื่อ hover */
.custom-card-dashboard:hover {
  background-color: #f9fcff; /* สีพื้นหลังเปลี่ยนเมื่อ hover */
  transform: translateY(-5px); /* ยกการ์ดขึ้นเล็กน้อย */
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55); /* เงาเพิ่มขึ้น */
}

.head-sub-font-dashboard {
  margin-left: 20px;
  display: flex; /* ใช้ Flexbox เพื่อจัดโครงสร้าง */
  flex-direction: column; /* จัดเรียงในแนวตั้ง */
  align-items: flex-start; /* จัดข้อความให้อยู่ทางซ้าย */
}

.dashboard-head-text {
  font-size: 14px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.dashboard-sub-text {
  font-size: 12px;
  color: #4a5461;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
}
.table-summarize-headtext {
  color: #1e497b;
  font-size: 15px;
  text-align: center;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-align: center;
}
.table-summarize-text {
  color: #1e497b;
  font-size: 13px;
  text-align: center;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
}

.Head-bell-curve {
  font-size: 15px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  padding-left: 20px;
  text-align: center;
}
@media screen and (max-width: 1365px) {
  .dashboard-head-text {
    font-size: 15px !important;
  }
  .dashboard-sub-text {
    font-size: 12px !important;
  }
  .table-summarize-text {
    font-size: 14px !important;
  }
  .table-summarize-headtext {
    font-size: 15px !important;
  }
  .Head-bell-curve {
    font-size: 15px !important;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1440px) {
  .dashboard-head-text {
    font-size: 16px !important;
  }
  .dashboard-sub-text {
    font-size: 13px !important;
  }
  .table-summarize-text {
    font-size: 15px !important;
  }
  .table-summarize-headtext {
    font-size: 16px !important;
  }
  .Head-bell-curve {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1441px) {
  .dashboard-head-text {
    font-size: 17px !important;
  }
  .dashboard-sub-text {
    font-size: 14px !important;
  }
  .table-summarize-text {
    font-size: 16px !important;
  }
  .table-summarize-headtext {
    font-size: 17px !important;
  }
  .Head-bell-curve {
    font-size: 17px !important;
  }
}