@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.Title {
  font-size: 24px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: regular;
  margin-bottom: 40px;
  letter-spacing: 0.8px;
}

.custom-tab {
  padding: 12px 50px;
  border-radius: 8px;
  font-size: 16px;
  color: #9ca3af;
  background-color: #e5e7eb;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: regular;
  letter-spacing: 0.8px;
}

.custom-tab:hover {
  background-color: #d1d5db;
}

.active-tab {
  background-color: #60a5fa;
  color: white;
  font-weight: bold;
}

.ant-tabs-tab-btn {
  padding: 0;
}

.input-groupbox {
  width: 160px;
  height: 43px;
  border-radius: 8px;
  border: 1px solid #d7e0f6;
  font-size: 15px;
  padding-left: 15px;
}

.input-groupbox:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.input-group-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.grouplabel {
  text-align: left;
  margin-right: 10px;
  font-size: 18px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
}

.Group-Container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.colon {
  font-size: 30px;
  color: #1e497b;
  margin: 0 10px;
  font-weight: 600;
  font-style: regular;
}

.Text-modal {
  font-size: 16px;
  text-align: center;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: regular;
  letter-spacing: 0.8px;
  margin-left: 22px;
}

.Button-Custom {
  margin-right: 30px;
}

.custom-column-round {
  padding-left: 20px;
  text-align: left;
}

.custom-input-sg {
  width: 450px; /* ความกว้าง */
  height: 35px; /* ระยะห่างด้านใน */
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: regular;
  letter-spacing: 0.5px;
  border-radius: 8px;
  border: 1px solid #d7e0f6;
  padding-left: 10px;
}

.custom-input-sg:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.input-box-score {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #b9c7e9;
  font-size: 14px;
  padding-left: 15px;
  font-family: "Sarabun", sans-serif;
}

.input-box-score:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.Customize-score-modal{
  font-family: "Sarabun", sans-serif;
}