@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.Title {
  font-size: 24px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: regular;
  margin-bottom: 40px;
  letter-spacing: 0.8px;
}

.card-edit {
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55); /* ค่า X, Y, Blur, Spread, และสีที่มีค่า transparency */
  border-radius: 16px;
  border: 1px solid #dae3f8;
}

.content-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Empty-img {
  width: 130px;
  height: auto;
  margin-bottom: 20px;
}

.group-row {
  background-color: #f0f9fa; /* สีพื้นหลังสำหรับกลุ่ม */
}

.input-box-label {
  width: 500px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid #d7e0f6;
  font-size: 14px;
  padding-left: 15px;
}

.input-box-label:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.input-box-score-label {
  width: 120px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid #d7e0f6;
  font-size: 14px;
  padding-left: 15px;
}

.input-box-score-label:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.group-highlight-row {
  background-color: #f7fcff; /* สีฟ้าอ่อน */
  transition: background-color 0.3s;
}

.group-highlight-row:hover {
  background-color: #eef7fc; /* สีฟ้าเข้มขึ้นเมื่อ hover */
}

.button-group-view {
  display: flex;
  gap: 10px;
}