.Title-recheck {
  font-size: 16px !important;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: regular;
  letter-spacing: 0.8px;
}

.card-edit-recheck {
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
  border-radius: 16px;
  border: 1px solid #dae3f8;
  margin-left: 0px auto;
  width: 100%;
}

.card-left-recheck {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box-text-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.display-text-currentpage {
  width: 55px !important;
  height: 30px !important;
  background-color: #f9f9f9;
  border: 1px solid #d7e1ef;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px !important;
  box-shadow: 0px 4px 6px rgba(208, 216, 238, 0.55);
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
}

.display-text-allpage {
  font-size: 12px !important;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  color: #333;
}

.nextprevpage-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.text-table-container {
  margin-left: 20px;
  margin-top: 5px;
}

.circle-button {
  font-size: 16px !important;
  color: white;
  background-color: #69a9f4;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(191, 202, 232, 0.872);
  transition: all 0.3s ease;
}

.circle-button:hover {
  background-color: #558fd5;
  box-shadow: 0px 6px 8px rgba(128, 150, 190, 0.8);
  transform: scale(1.1);
}

.nextprevpage-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.label-recheck-table {
  text-align: left;
  margin-left: 15px;
  font-size: 13px;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
}

.label-recheck-table-score {
  font-size: 13px;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
}

.circle-button {
  font-size: 25px;
  color: white;
  background-color: #69a9f4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(191, 202, 232, 0.872);
  transition: all 0.3s ease;
}

.circle-button:hover {
  background-color: #558fd5;
  box-shadow: 0px 6px 8px rgba(128, 150, 190, 0.8);
  transform: scale(1.1);
}

.show-pic-recheck {
  margin-top: 15px;
  margin-bottom: 20px;
  border: 1px solid #cfe3fb;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
}

.thumbnail-container-recheck {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.thumbnail {
  width: 60px;
  height: auto;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.thumbnail.selected {
  transform: scale(1.2);
  border: 1.6px solid #4c9ef7;
}

.recheck-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dropdown-group {
  display: flex;
  align-items: center;
}

.custom-select-std {
  width: 200px;
}

.label-boxes-button-style {
  position: absolute;
  border: 1px solid #a8c7e7;
  color: #292a29;
  border-radius: 4px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: rgba(183, 210, 238, 0.7);
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  margin-bottom: 40px;
}

/* .label-boxes-button-style:hover {
  background-color: rgba(180, 207, 234, 0.9) !important;
  transform: scale(1);
  box-shadow: 0px 4px 8px rgba(208, 216, 238, 0.55);
} */

.predict-boxes-button-style {
  position: absolute;
  border: 1px solid #a8c7e7;
  color: #292a29;
  border-radius: 4px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  background-image: none !important;
  box-shadow: none !important;
  transition: all 0.2s ease-in;
  padding: 0;
  cursor: pointer;
}

.predict-boxes-button-style.cleared {
  background-color: #f3ec6d !important;
  color: black !important;
  border-color: #e5de61;
}

.predict-boxes-button-style.cleared:hover {
  background-color: #e5de62 !important;
  color: black !important;
}

.predict-boxes-button-style.correct {
  background-color: #67da85 !important;
  color: black !important;
  border-color: #58c876;
}

.predict-boxes-button-style.correct:hover {
  background-color: #52c270 !important;
  color: black !important;
}

.predict-boxes-button-style.incorrect {
  background-color: #f3707f !important;
  color: black !important;
  border-color: #df5f6e;
}

.predict-boxes-button-style.incorrect:hover {
  background-color: #df5f6e !important;
  color: black !important;
}

.predict-boxes-button-style.free {
  background-color: #67da85;
  border-color: #58c876;
  color: black;
  pointer-events: none; /* ป้องกันคลิก/hover */
}

.predict-text {
  background-color: transparent !important; /* ไม่มีพื้นหลังแทรก */
  color: inherit !important; /* รับสีจากปุ่ม */

  padding: 0;
  margin: 0;
}

.btt-circle-action {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #67da85;
  border-color: #67da85;
  color: #fff;
  transition: all 0.3s ease;
}

.btt-circle-action:hover {
  background-color: #55c874 !important; /* บังคับสีพื้นหลังเมื่อ Hover */
  border-color: #55c874 !important; /* บังคับสีเส้นขอบเมื่อ Hover */
  color: #ffffff;
  transform: scale(1.05);
}

.input-recheck-point {
  border-radius: 6px;
  border: 1px solid #d7e0f6;
  font-size: 12px;
  padding: 0px 15px;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: regular;
}

.input-recheck-point:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.recheck-container-right {
  display: flex;
  flex-direction: column; /* วางองค์ประกอบในแนวตั้ง */
  height: 100%; /* ใช้พื้นที่ทั้งหมด */
  padding: 10px;
}

.input-group-view-recheck {
  display: flex; /* จัดเรียงลูกในแถวเดียวกัน */
  justify-content: space-between; /* แยกสององค์ประกอบให้อยู่คนละด้าน */
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวแกน Y */
  width: 100%; /* ขยายความกว้างเต็มที่ของ container */
  margin-bottom: 30px;
}

.dropdown-group-view-recheck {
  flex-grow: 1; /* ทำให้ Select ใช้พื้นที่ที่เหลือ */
}

.button-group-view-recheck {
  display: flex;
  gap: 10px;
}

.custom-table-recheck .ant-table-thead > tr > th {
  font-family: "Sarabun", sans-serif;
  font-size: 11px;
  background-color: #edf3fb;
  font-weight: 600;
  color: #1e497b;
  padding: 12px;
}

.custom-table-recheck .ant-table-tbody > tr > td {
  transition: background-color 0.5s ease;
  padding: 14px;
}
.custom-table-recheck .ant-table-tbody > tr:hover > td {
  background-color: #f5f8fc !important;
}

.custom-table-recheck .ant-table {
  font-family: "Sarabun", sans-serif;
  border: 1px solid #dae3f8;
  border-radius: 8px;
  font-size: 11px;
  font-weight: 500;
  font-style: regular;
  letter-spacing: 0.5px;
}

.custom-table-recheck .ant-pagination {
  font-size: 11px; /* เปลี่ยนขนาดฟอนต์ */
}

.custom-table-recheck .ant-pagination-item {
  font-size: 11px; /* เปลี่ยนขนาดฟอนต์ของตัวเลข */
}

.student-id-overlay {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  border-radius: 4px;
  padding: 0px;
  font-weight: bold;
  color: #333;
}

.student-id-overlay.correct {
  border: 1.6px solid #99d3aa;
  background-color: #dcffe7;
  color: #333;
}

.student-id-overlay.incorrect {
  border: 1.6px solid #db9ea5;
  background-color: #fbdce0;
  color: #333;
}

.student-id-input {
  border-radius: 6px;
  width: 160px !important;
  height: 30px;
  border: 1px solid #d7e0f6;
  font-size: 13px;
  padding-left: 15px;
  color: #1e497b;
  font-weight: 500;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 0.5px;
}

.student-id-input:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.student-id-input.correct {
  border: 1.5px solid #b9ecc8;
  background-color: #edfef2;
}

.student-id-input.incorrect {
  border: 1.5px solid #edaab2;
  background-color: #fdedef;
}

.input-recheck-point {
  height: 25px; /* ค่าคงที่ */
  white-space: nowrap;
  word-wrap: normal;
}

.input-recheck-point.textarea {
  width: 80px;
  white-space: normal;
  word-wrap: break-word;
  resize: vertical;
}

.input-recheck-point.input {
  width: 55px;
}

.score-typeScore {
  font-size: 10px;
}

.Search-Export-container .custom-search {
  margin-right: auto;
}

.Search-Export-container .button-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.custom-search-recheck .ant-input-affix-wrapper {
  height: 37px !important;
  width: 240px;
  border-radius: 8px 0 0 8px !important;
  display: flex;
  align-items: center;
  border: 1px solid #d7e0f6 !important;
  font-family: "Sarabun", sans-serif;
  font-size: 12px;
}

.custom-search-recheck .ant-input-search-button {
  height: 37px !important; /* ความสูงของปุ่ม search */
  width: 40px;
  border-radius: 0 8px 8px 0; /* เพิ่มความโค้งมน */
  border: 1px solid #d7e0f6 !important;
}

.custom-search-recheck .ant-input {
  color: #4a5461 !important; /* สีข้อความในช่อง input */
}

.custom-search-recheck input::placeholder {
  color: #9eabbd; /* สีเทาอ่อน */
  font-size: 11px; /* ขนาดตัวอักษร */
  font-family: "Sarabun", sans-serif;
}

.responsive-custom-select-3 {
  width: 110px;
  height: 37px;
}

.pagination-below-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;
  font-size: 12px !important;
  padding: 10px;
}

.page-student-id {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 10px;
}

.pagination-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-score-display {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
}

.view-page-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.display-text-currentpage-upload {
  width: 50px !important;
  height: 26px !important;
  background-color: #f9f9f9;
  border: 1px solid #d7e1ef;
  border-radius: 8px;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  font-size: 12px !important;
  box-shadow: 0px 4px 6px rgba(208, 216, 238, 0.55);
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
}

.display-text-currentpage-upload:focus {
  border-color: #1890ff;
  outline: none;
  box-shadow: 0px 4px 6px rgba(208, 216, 238, 0.55);
}

.display-text-allpage-upload {
  font-size: 12px !important;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  color: #333;
}

.pagination-view-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-grow: 1;
}
.custom-upload-delete-icon {
  color: #d01624;
  cursor: pointer;
  cursor: pointer;
}

.custom-upload-delete-icon:hover {
  color: #ba1723;
}

.show-pic-view-upload {
  border: 1px solid #cfe3fb;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
  margin-top: 20px;
}

.modal-delete-upload-text {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-size: 10px !important;
  color: #333;
}

@media screen and (max-width: 1365px) {
  .Title-recheck {
    font-size: 16px !important;
  }
  .custom-table-recheck .ant-table-thead > tr > th {
    font-size: 12px !important;
  }

  .custom-table-recheck .ant-table {
    border-radius: 8px;
    font-size: 12px !important;
  }

  .custom-table-recheck .ant-pagination {
    font-size: 12px !important;
  }

  .custom-table-recheck .ant-pagination-item {
    font-size: 12px !important;
  }
  .label-recheck-table {
    font-size: 13px !important;
  }
  .input-recheck-point {
    font-size: 12px !important;
    height: 25px !important;
  }

  .input-recheck-point.textarea {
    width: 80px !important;
  }

  .input-recheck-point.input {
    width: 55px !important;
  }
  .score-typeScore {
    font-size: 10px !important;
  }

  .responsive-custom-select-3 {
    width: 110px;
    height: 37px;
  }
  .custom-search-recheck .ant-input-affix-wrapper {
    height: 37px !important;
    width: 240px;
    font-size: 12px;
  }
  .custom-search-recheck .ant-input-search-button {
    height: 37px !important;
    width: 40px;
  }
  .custom-search-recheck input::placeholder {
    font-size: 12px; /* ขนาดตัวอักษร */
  }
  .total-score-display {
    gap: 12px;
  }
  .student-id-input {
    border-radius: 6px;
    width: 160px !important;
    height: 30px;
    font-size: 13px;
  }
  .label-recheck-table-score {
    font-size: 13px !important;
  }
  .box-text-page {
    gap: 9px;
  }

  .display-text-currentpage {
    width: 55px !important;
    height: 30px !important;
    font-size: 12px !important;
  }

  .display-text-allpage {
    font-size: 12px !important;
  }
  .page-student-id {
    gap: 18px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1440px) {
  .Title-recheck {
    font-size: 18px !important;
  }
  .custom-table-recheck .ant-table-thead > tr > th {
    font-size: 14px !important;
  }

  .custom-table-recheck .ant-table {
    border-radius: 8px;
    font-size: 14px !important;
  }

  .custom-table-recheck .ant-pagination {
    font-size: 14px !important;
  }

  .custom-table-recheck .ant-pagination-item {
    font-size: 14px !important;
  }
  .label-recheck-table {
    font-size: 14px !important;
  }

  .input-recheck-point {
    font-size: 13px !important;
    height: 27px !important;
  }

  .input-recheck-point.textarea {
    width: 86px !important;
  }

  .input-recheck-point.input {
    width: 57px !important;
  }
  .score-typeScore {
    font-size: 11px !important;
  }
  .responsive-custom-select-3 {
    width: 130px;
    height: 40px;
  }
  .custom-search-recheck .ant-input-affix-wrapper {
    height: 40px !important;
    width: 260px;
    font-size: 13px !important;
  }
  .custom-search-recheck .ant-input-search-button {
    height: 40px !important;
    width: 45px;
  }
  .custom-search-recheck input::placeholder {
    font-size: 13px !important;
  }
  .total-score-display {
    gap: 16px;
  }
  .student-id-input {
    border-radius: 8px;
    width: 180px !important;
    height: 35px;
    font-size: 14px;
  }
  .student-id-input.correct {
    border: 2px solid #b9ecc8;
  }

  .student-id-input.incorrect {
    border: 2px solid #edaab2;
  }
  .label-recheck-table-score {
    font-size: 15px !important;
  }
  .box-text-page {
    gap: 12px;
  }

  .display-text-currentpage {
    width: 60px !important;
    height: 35px !important;
    font-size: 13px !important;
  }

  .display-text-allpage {
    font-size: 13px !important;
  }
  .page-student-id {
    gap: 20px;
  }
}

@media screen and (min-width: 1441px) {
  .Title-recheck {
    font-size: 19px !important;
  }
  .custom-table-recheck .ant-table-thead > tr > th {
    font-size: 16px !important;
  }

  .custom-table-recheck .ant-table {
    border-radius: 8px;
    font-size: 16px !important;
  }

  .custom-table-recheck .ant-pagination {
    font-size: 16px !important;
  }

  .custom-table-recheck .ant-pagination-item {
    font-size: 16px !important;
  }
  .label-recheck-table {
    font-size: 16px !important;
  }

  .input-recheck-point {
    font-size: 15px !important;
    height: 30px !important;
  }

  .input-recheck-point.textarea {
    width: 90px !important;
  }

  .input-recheck-point.input {
    width: 66px !important;
  }
  .score-typeScore {
    font-size: 13px !important;
  }
  .responsive-custom-select-3 {
    width: 150px;
    height: 46px;
  }
  .custom-search-recheck .ant-input-affix-wrapper {
    height: 46px !important;
    width: 290px;
    font-size: 14px !important;
  }
  .custom-search-recheck .ant-input-search-button {
    height: 46px !important;
    width: 50px;
  }
  .custom-search-recheck input::placeholder {
    font-size: 14px !important;
  }
  .total-score-display {
    gap: 20px;
  }
  .student-id-input {
    border-radius: 10px;
    width: 200px !important;
    height: 40px;
    font-size: 15px;
  }
  .student-id-input.correct {
    border: 2.2px solid #b9ecc8;
  }

  .student-id-input.incorrect {
    border: 2.2px solid #edaab2;
  }
  .label-recheck-table-score {
    font-size: 16px !important;
  }
  .box-text-page {
    gap: 15px;
  }

  .display-text-currentpage {
    width: 65px !important;
    height: 40px !important;
    font-size: 15px !important;
  }

  .display-text-allpage {
    font-size: 15px !important;
  }
  .page-student-id {
    gap: 22px;
  }
}
