@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.Title {
  font-size: 24px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: regular;
  margin-bottom: 40px;
  letter-spacing: 0.8px;
}

.card-edit-recheck {
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
  border-radius: 16px;
  border: 1px solid #dae3f8;
  margin-left: 0px auto;
  padding: 0px;
  width: 100%;
}

.card-left-recheck {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-text-currentpage {
  width: 80px;
  height: 40px;
  background-color: #f9f9f9;
  border: 1px solid #d7e1ef;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(208, 216, 238, 0.55);
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
}

.display-text-allpage {
  margin-left: 5px;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  color: #333;
}

.nextprevpage-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.table-container {
  padding: 10px;
  margin-top: 20px;
}

.text-table-container {
  margin-left: 20px;
  margin-top: 10px;
}

.label-recheck-table {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
}
.student-id-input {
  border-radius: 6px;
  width: 290px;
  height: 40px;
  border: 1px solid #d7e0f6;
  font-size: 15px;
  padding-left: 15px;
  color: #1e497b;
  font-weight: 500;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 0.5px;
}

.student-id-input:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.circle-button {
  font-size: 25px;
  color: white;
  background-color: #69a9f4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(191, 202, 232, 0.872);
  transition: all 0.3s ease;
}

.circle-button:hover {
  background-color: #558fd5;
  box-shadow: 0px 6px 8px rgba(128, 150, 190, 0.8);
  transform: scale(1.1);
}

.show-pic-recheck {
  width: 500px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid #cfe3fb;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
}

.thumbnail-container-recheck {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.thumbnail {
  width: 80px;
  height: auto;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.thumbnail.selected {
  border: 2px solid #4c9ef7;
}

.box-text-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recheck-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.Title {
  font-size: 24px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: regular;
  margin-bottom: 40px;
  letter-spacing: 0.8px;
}

.card-edit-recheck {
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
  border-radius: 16px;
  border: 1px solid #dae3f8;
  margin-left: 0px auto;
  padding: 0px;
  width: 100%;
}

.card-left-recheck {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-text-currentpage {
  width: 80px;
  height: 40px;
  background-color: #f9f9f9;
  border: 1px solid #d7e1ef;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(208, 216, 238, 0.55);
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
}

.display-text-allpage {
  margin-left: 5px;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  color: #333;
}

.nextprevpage-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.table-container {
  padding: 10px;
  margin-top: 20px;
}

.text-table-container {
  margin-left: 20px;
  margin-top: 10px;
}

.label-recheck-table {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
}
.student-id-input {
  border-radius: 6px;
  width: 290px;
  height: 40px;
  border: 1px solid #d7e0f6;
  font-size: 15px;
  padding-left: 15px;
  color: #1e497b;
  font-weight: 500;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 0.5px;
}

.student-id-input:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.circle-button {
  font-size: 25px;
  color: white;
  background-color: #69a9f4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(191, 202, 232, 0.872);
  transition: all 0.3s ease;
}

.circle-button:hover {
  background-color: #558fd5;
  box-shadow: 0px 6px 8px rgba(128, 150, 190, 0.8);
  transform: scale(1.1);
}

.show-pic-recheck {
  margin-top: 40px;
  margin-bottom: 60px;
  border: 1px solid #cfe3fb;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
}

.thumbnail-container-recheck {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.thumbnail {
  width: 80px;
  height: auto;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.thumbnail.selected {
  border: 2px solid #4c9ef7;
}

.box-text-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recheck-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* ชั่วคราว แก้ขัด */

.input-group-std {
  display: flex; /* จัดเรียงลูกในแนวนอน */
  gap: 20px; /* เว้นระยะห่างระหว่างกลุ่ม */
  justify-content: flex-start; /* จัดเนื้อหาให้ชิดซ้าย */
  padding: 0; /* ไม่ให้มี padding ภายใน */
  margin: 20px; /* ไม่ให้มี margin ภายนอก */
}

.dropdown-group {
  display: flex; /* ทำให้เนื้อหาใน group เป็นแนวนอน */
  align-items: center; /* จัดให้อยู่กึ่งกลางในแนวตั้ง */
}

.label-std {
  margin-right: 8px; /* เพิ่มระยะห่างระหว่าง label กับ select */
}

.custom-select-std {
  width: 200px; /* กำหนดความกว้างของ dropdown */
}

.label-boxes-button-style {
  position: absolute; /* ตำแหน่งจะถูกคำนวณใน JS */
  border: 1px solid #a8c7e7;
  color: #333435;
  border-radius: 4px; /* เพิ่ม border-radius */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #b7d2ee;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  margin-bottom: 40px;
}

.predict-boxes-button-style {
  position: absolute; /* ตำแหน่งจะถูกคำนวณใน JS */
  border: 1px solid;
  color: #333435;
  border-radius: 4px; /* เพิ่ม border-radius */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
}
