.Title {
  font-size: 24px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: regular;
  margin-bottom: 40px;
  letter-spacing: 0.8px;
}

.card-edit-recheck {
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
  border-radius: 16px;
  border: 1px solid #dae3f8;
  margin-left: 0px auto;
  padding: 0px;
  width: 100%;
}

.card-left-recheck {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-text-currentpage {
  width: 80px;
  height: 40px;
  background-color: #f9f9f9;
  border: 1px solid #d7e1ef;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(208, 216, 238, 0.55);
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
}

.display-text-allpage {
  margin-left: 5px;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  color: #333;
}

.nextprevpage-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.table-container {
  padding: 10px;
  margin-top: 20px;
  flex-grow: 1; /* ให้ตารางขยายพื้นที่ที่เหลือ */
  overflow-y: auto;
}

.text-table-container {
  margin-left: 20px;
  margin-top: 10px;
}

.student-id-input {
  border-radius: 6px;
  width: 290px;
  height: 40px;
  border: 1px solid #d7e0f6;
  font-size: 15px;
  padding-left: 15px;
  color: #1e497b;
  font-weight: 500;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 0.5px;
}

.student-id-input:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.circle-button {
  font-size: 25px;
  color: white;
  background-color: #69a9f4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(191, 202, 232, 0.872);
  transition: all 0.3s ease;
}

.circle-button:hover {
  background-color: #558fd5;
  box-shadow: 0px 6px 8px rgba(128, 150, 190, 0.8);
  transform: scale(1.1);
}

.show-pic-recheck {
  width: 500px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid #cfe3fb;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
}

.box-text-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recheck-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.Title {
  font-size: 24px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: regular;
  margin-bottom: 40px;
  letter-spacing: 0.8px;
}

.card-edit-recheck {
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
  border-radius: 16px;
  border: 1px solid #dae3f8;
  margin-left: 0px auto;
  padding: 0px;
  width: 100%;
}

.card-left-recheck {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-text-currentpage {
  width: 80px;
  height: 40px;
  background-color: #f9f9f9;
  border: 1px solid #d7e1ef;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(208, 216, 238, 0.55);
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
}

.display-text-allpage {
  margin-left: 5px;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  color: #333;
}

.nextprevpage-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.label-recheck-table {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
}
.student-id-input {
  border-radius: 6px;
  width: 290px;
  height: 40px;
  border: 1px solid #d7e0f6;
  font-size: 15px;
  padding-left: 15px;
  color: #1e497b;
  font-weight: 500;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 0.5px;
}

.student-id-input:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.circle-button {
  font-size: 25px;
  color: white;
  background-color: #69a9f4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(191, 202, 232, 0.872);
  transition: all 0.3s ease;
}

.circle-button:hover {
  background-color: #558fd5;
  box-shadow: 0px 6px 8px rgba(128, 150, 190, 0.8);
  transform: scale(1.1);
}

.show-pic-recheck {
  margin-top: 40px;
  margin-bottom: 60px;
  border: 1px solid #cfe3fb;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
}

.thumbnail-container-recheck {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.thumbnail {
  width: 80px;
  height: auto;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.thumbnail.selected {
  transform: scale(1.2);
  border: 2px solid #4c9ef7;
}

.box-text-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recheck-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* ชั่วคราว แก้ขัด */

.input-group-std {
  display: flex; /* จัดเรียงลูกในแนวนอน */
  gap: 20px; /* เว้นระยะห่างระหว่างกลุ่ม */
  justify-content: flex-start; /* จัดเนื้อหาให้ชิดซ้าย */
  padding: 0; /* ไม่ให้มี padding ภายใน */
  margin: 20px;
}

.dropdown-group {
  display: flex;
  align-items: center;
}

.label-std {
  margin-right: 8px;
}

.custom-select-std {
  width: 200px;
}

.label-boxes-button-style {
  position: absolute;
  border: 1px solid #a8c7e7;
  color: #292a29;
  border-radius: 4px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: rgba(183, 210, 238, 0.7);
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  margin-bottom: 40px;
}

/* .label-boxes-button-style:hover {
  background-color: rgba(180, 207, 234, 0.9) !important;
  transform: scale(1);
  box-shadow: 0px 4px 8px rgba(208, 216, 238, 0.55);
} */

.predict-boxes-button-style {
  position: absolute;
  border: 1px solid #a8c7e7;
  color: #292a29;
  border-radius: 4px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
}

.btt-circle-action {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #67da85;
  border-color: #67da85;
  color: #fff;
  transition: all 0.3s ease;
}

.btt-circle-action:hover {
  background-color: #55c874 !important; /* บังคับสีพื้นหลังเมื่อ Hover */
  border-color: #55c874 !important; /* บังคับสีเส้นขอบเมื่อ Hover */
  color: #ffffff;
  transform: scale(1.05);
}

.input-recheck-point {
  border-radius: 8px;
  border: 1px solid #d7e0f6;
  font-size: 14px;
  padding: 0px 15px;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: regular;
}

.input-recheck-point:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.recheck-container-right {
  display: flex;
  flex-direction: column; /* วางองค์ประกอบในแนวตั้ง */
  height: 90%; /* ใช้พื้นที่ทั้งหมด */
}

.student-id-overlayboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px !important; /* กำหนดความกว้างและ !important */
  height: 21px; /* ความสูงของแต่ละกล่อง */
  background-color: rgba(215, 234, 246, 0.8); /* สีพื้นหลังของกล่อง */
  border: 1px solid #a4cbe3; /* สีขอบกล่อง */
  font-size: 13px;
  font-weight: bold;
  color: #333;
}

.input-group-view-recheck {
  display: flex; /* จัดเรียงลูกในแถวเดียวกัน */
  justify-content: space-between; /* แยกสององค์ประกอบให้อยู่คนละด้าน */
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวแกน Y */
  width: 100%; /* ขยายความกว้างเต็มที่ของ container */
  margin-bottom: 30px;
}

.dropdown-group-view-recheck {
  flex-grow: 1; /* ทำให้ Select ใช้พื้นที่ที่เหลือ */
}

.button-group-view-recheck {
  display: flex;
  gap: 10px;
}
