@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.Title {
  font-size: 16px !important;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: regular;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
}

.card-edit {
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55); /* ค่า X, Y, Blur, Spread, และสีที่มีค่า transparency */
  border-radius: 16px;
  border: 1px solid #dae3f8;
}

.content-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Empty-img {
  margin-top: 50px;
  width: 100px !important;
  height: auto;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  /* width: 100%; */
}

.ant-tooltip-inner {
  color: #3b3b3b !important;
  font-size: 11px !important;
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: regular;
  letter-spacing: 0.5px;
}

.label {
  width: 140px;
  text-align: left;
  margin-right: 10px;
  font-size: 14px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
}

.label2 {
  width: 150px;
  text-align: center;
  margin-right: 10px;
  font-size: 14px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}
.input-box {
  border-radius: 8px;
  border: 1px solid #d7e0f6;
  font-family: "Sarabun", sans-serif;
  font-size: 12px;
  padding-left: 15px;
}

.input-box:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}
.input-container .label-error {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: regular;
  letter-spacing: 0.5px;
  color: red;
  font-size: 11px;
  margin: 0 0 0 160px;
  position: absolute;
  top: 110px;
}

.input-box.error {
  border-color: red;
}

.input-box.error:focus {
  border-color: red;
  box-shadow: 0 0 4px #f46a86;
  outline: none;
}
.input-box-subject {
  border-radius: 8px;
  border: 1px solid #d7e0f6;
  font-size: 12px;
  padding-left: 15px;
}

.input-box-subject:focus {
  border-color: #7bb3f5;
  box-shadow: 0 0 4px rgba(123, 179, 245, 0.5);
  outline: none;
}

.Button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

input::placeholder {
  color: #9eabbd; /* เปลี่ยนสีฟอนต์ของ placeholder */
  opacity: 1; /* ปรับค่าความโปร่งใส ถ้าต้องการ */
}

.custom-table .ant-table-thead > tr > th {
  font-family: "Sarabun", sans-serif;
  font-size: 13px;
  background-color: #edf3fb; /* เปลี่ยนสีพื้นหลังหัวตาราง */
  font-weight: 600;
  color: #1e497b; /* เปลี่ยนสีข้อความหัวตาราง */
}

.custom-table .ant-table-tbody > tr > td {
  transition: background-color 0.5s ease; /* ปรับค่าความเร็วและลักษณะการเปลี่ยน */
}
.custom-table .ant-table-tbody > tr:hover > td {
  background-color: #f5f8fc !important;
}

.custom-table .ant-table {
  font-family: "Sarabun", sans-serif;
  border: 1px solid #dae3f8;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  font-style: regular;
  letter-spacing: 0.5px;
}

.custom-table .ant-pagination {
  font-size: 12px; /* เปลี่ยนขนาดฟอนต์ */
}

.custom-table .ant-pagination-item {
  font-size: 12px; /* เปลี่ยนขนาดฟอนต์ของตัวเลข */
}

.ant-checkbox-inner {
  width: 20px !important; /* ขยายความกว้างของ checkbox */
  height: 20px !important; /* ขยายความสูงของ checkbox */
}

.custom-modal .ant-modal-content {
  border-radius: 10px;
  padding: 30px 30px;
  font-family: "Sarabun", sans-serif;
}

.custom-modal .ant-btn-primary {
  margin-top: 20px;
  background-color: #3d79fd;
  border-color: #3d79fd;
  width: 70px;
  height: 35px;
}

.custom-modal .ant-btn-default {
  margin-top: 20px;
  background-color: #fff;
  border-color: #dae0e1;
  width: 70px;
  height: 35px;
}

.custom-modal .ant-modal-title {
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
  color: #2b2e31;
}

.custom-modal .ant-modal-body {
  font-family: "Sarabun", sans-serif;
  font-size: 12px;
}

.custom-modal .ant-btn {
  font-family: "Sarabun", sans-serif;
  font-size: 12px;
}

.custom-warning-modal .ant-modal-title {
  font-size: 16px;
  color: #d9534f;
  font-family: "Sarabun", sans-serif;
}

/* ปุ่ม OK */
.custom-warning-modal .ant-btn-primary {
  background-color: #007bff; /* สีพื้นหลังของปุ่ม */
  border: none;
  font-size: 14px;
  border-radius: 6px;
}

.icon-styled {
  margin-right: 25px;
  fontsize: 14px !important;
  cursor: pointer; /* เปลี่ยนเป็น pointer เมื่อ hover */
  transition: color 0.3s ease; /* เพิ่มความนุ่มนวล */
}
.icon-styled:hover {
  color: #497bd8;
}

.tooltip-edit {
  font-size: 15px !important;
}

/* --------------------------- responsive ----------------------- */

.responsive-input {
  width: 320px;
  height: 37px;
}

@media screen and (max-width: 1365px) {
  .Title {
    font-size: 16px !important;
  }
  .label {
    font-size: 14px !important;
  }

  .label2 {
    font-size: 14px !important;
  }
  .Empty-img {
    margin-top: 50px;
    width: 110px !important;
  }
  .input-box {
    font-size: 12px !important;
  }
  .responsive-input {
    width: 320px;
    height: 37px;
  }
  .custom-table .ant-table-thead > tr > th {
    font-size: 13px !important;
  }

  .custom-table .ant-table {
    font-size: 13px !important;
  }

  .custom-table .ant-pagination {
    font-size: 13px !important;
  }

  .custom-table .ant-pagination-item {
    font-size: 13px !important;
  }
  .input-container .label-error {
    font-size: 14px;
  }
  .tooltip-edit {
    font-size: 16px !important;
  }

  .custom-modal .ant-btn-primary {
    width: 70px !important;
    height: 35px !important;
  }

  .custom-modal .ant-btn-default {
    width: 70px !important;
    height: 35px !important;
  }

  .custom-modal .ant-modal-title {
    font-size: 14px !important;
  }

  .custom-modal .ant-modal-body {
    font-size: 12px !important;
  }

  .custom-modal .ant-btn {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1440px) {
  .Title {
    font-size: 18px !important;
  }
  .label {
    font-size: 15px !important;
  }

  .label2 {
    font-size: 15px !important;
  }
  .Empty-img {
    margin-top: 50px;
    width: 120px !important;
  }
  .input-box {
    font-size: 13px !important;
  }
  .responsive-input {
    width: 350px;
    height: 42px;
  }
  .custom-table .ant-table-thead > tr > th {
    font-size: 14px !important;
  }

  .custom-table .ant-table {
    font-size: 14px !important;
  }

  .custom-table .ant-pagination {
    font-size: 14px !important;
  }

  .custom-table .ant-pagination-item {
    font-size: 14px !important;
  }
  .input-container .label-error {
    font-size: 14px;
  }
  .tooltip-edit {
    font-size: 16px !important;
  }
  .custom-modal .ant-btn-primary {
    width: 75px !important;
    height: 38px !important;
  }

  .custom-modal .ant-btn-default {
    width: 75px !important;
    height: 38px !important;
  }

  .custom-modal .ant-modal-title {
    font-size: 15px !important;
  }

  .custom-modal .ant-modal-body {
    font-size: 13px !important;
  }

  .custom-modal .ant-btn {
    font-size: 13px !important;
  }
}

@media screen and (min-width: 1441px) {
  .Title {
    font-size: 20px !important;
  }
  .label {
    font-size: 18px !important;
  }

  .label2 {
    font-size: 16px !important;
  }
  .Empty-img {
    margin-top: 70px;
    width: 130px !important;
  }
  .input-box {
    font-size: 15px !important;
  }
  .responsive-input {
    width: 390px;
    height: 46px;
  }
  .custom-table .ant-table-thead > tr > th {
    font-size: 16px !important;
  }

  .custom-table .ant-table {
    font-size: 16px !important;
  }

  .custom-table .ant-pagination {
    font-size: 17px !important;
  }

  .custom-table .ant-pagination-item {
    font-size: 17px !important;
  }
  .input-container .label-error {
    font-size: 15px;
  }
  .tooltip-edit {
    font-size: 16px !important;
  }
  .custom-modal .ant-btn-primary {
    width: 78px !important;
    height: 40px !important;
  }

  .custom-modal .ant-btn-default {
    width: 78px !important;
    height: 40px !important;
  }

  .custom-modal .ant-modal-title {
    font-size: 16px !important;
  }

  .custom-modal .ant-modal-body {
    font-size: 15px !important;
  }

  .custom-modal .ant-btn {
    font-size: 14px !important;
  }
}
