@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.Title {
  font-size: 24px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: regular;
  margin-bottom: 40px;
  letter-spacing: 0.8px;
}

.head-title-predict {
  font-size: 16px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.ant-card-head-title {
  font-size: 16px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
  margin-left: 25px;
  padding-top: 25px;
  margin-bottom: 25px;
}

.card-edit {
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55); /* ค่า X, Y, Blur, Spread, และสีที่มีค่า transparency */
  border-radius: 16px;
  border: 1px solid #dae3f8;
}

.button-wrapper-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.head-title {
  font-size: 15px;
  color: #0768ca;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 13px;
  color: #6a7f95;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
  font-style: regular;
  letter-spacing: 0.5px;
}

.font-position {
  flex-direction: column;
  margin-left: 20px;
}

.label-upload {
  text-align: center;
  font-size: 16px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
}

.Upload-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
}
.upload-button {
  display: flex;
  justify-content: center; /* จัดปุ่มให้อยู่ตรงกลาง */
  width: 100%;
}

.upload {
  width: 500px !important;
  justify-content: flex-start;
  padding: 20px 40px;
  height: 120px; /* ความสูงของปุ่ม */
  text-align: left; /* จัดข้อความให้อยู่ตรงกลาง */
  border-radius: 8px; /* เพิ่มขอบมนให้กับปุ่ม */
  border: 1px solid #dae3f8;
  box-shadow: 0px 2px 8px rgba(208, 216, 238, 0.55);
}

.ant-upload-list-item {
  display: flex;
  margin-top: 20px;
}

.uploaded-file-list {
  justify-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploaded-file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: #f2f9fc; /* สีพื้นหลังปกติ */
  margin-bottom: 10px;
}

.uploaded-file-item:hover {
  background-color: #eef6f9; /* สีพื้นหลังเมื่อ hover */
}

.uploaded-file-item-icon {
  margin-right: 10px;
  color: #413132;
  font-size: 18px;
}

.uploaded-file-item-remove {
  color: #f5222d;
  cursor: pointer;
  font-size: 16px;
}

.title-predict {
  font-size: 16px;
  color: #3e4240;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
  margin-top: 15px;
}

.circle-button-upload {
  font-size: 16px;
  color: white;
  background-color: #69a9f4;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(191, 202, 232, 0.872);
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
}
.circle-button-upload:hover {
  background-color: #558fd5;
  box-shadow: 0px 6px 8px rgba(128, 150, 190, 0.8);
  transform: scale(1.1);
}

.show-pic-view-upload {
  border: 1px solid #cfe3fb;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(208, 216, 238, 0.55);
  margin-top: 70px;
}

.Left-Right-Upload {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}

.upload-modal-title {
  font-size: 16px;
  color: #1e497b;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: regular;
  letter-spacing: 0.5px;
}

.predict-already {
  font-size: 15px;
  font-family: "Sarabun", sans-serif;
  font-weight: 650;
  font-style: regular;
  letter-spacing: 0.5px;
}

.custom-upload-delete-icon {
  color: #d01624;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}

.custom-upload-delete-icon:hover {
  color: #ba1723;
}
